<script type="text/ecmascript-6">
    export default {}
</script>

<template>
     <div>
            <index-screen title="Taiks" resource="commands">
        <tr slot="table-header">
            <th scope="col">Commandes</th>
            <th scope="col" class="table-fit">Exit Code</th>
            <th scope="col">Happened</th>
            <th scope="col"></th>
        </tr>

        <template slot="row" >

        </template>
    </index-screen>
        jaosajdioasjdasjlkdajsklds
    </div>
</template>
