<script type="text/ecmascript-6">
    import _ from 'lodash';
    import axios from 'axios';


    export default {
        props: {
            resource: {required: true},
            title: {required: true},
            id: {required: true},
            entryPoint: {default: false},
        },


        /**
         * The component's data.
         */
        data() {
            return {
                entry: null,
                batch: null,
                ready: false,

                updateEntryTimeout: null,
                updateEntryTimer: 2500,
            };
        },


        watch: {
            id() {
                this.prepareEntry()
            }
        },


        /**
         * Prepare the component.
         */
        mounted() {
            this.prepareEntry()
        },


        /**
         * Clean after the component is destroyed.
         */
        destroyed() {

        },


        computed: {
  
        },


        methods: {
            prepareEntry() {
                document.title = this.title + " - Playground";
                this.ready = false;

            },
        }
    }
</script>

<template>
    <div>
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5>{{this.title}}</h5>
            </div>


            <div>
                assiodjlasjdkljaskldjaskljdklasjdklsjadkjaskl
            </div>

        </div>

    </div>
</template>
